client.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

	<xs:element name="client">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="personne" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="personne">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nom" type="xs:string" />
				<xs:element name="prenom" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
	